In [ ]:
print("Test")

In [1]:
### filter out the even number from the given list using filter
l=[1,2,3,4,5,6,7,8,9,10]

In [16]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
even_number= lambda x: x if x%2==0 else None

In [24]:
even_number(3)

In [26]:
list(filter(even_number,l))

[2, 4, 6, 8, 10]

In [ ]:
### filter out the string which length is odd number

In [34]:
even_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

1

In [45]:
a=["apple", "banana", "cherry", "date", "fig", "grape","xyz"]

In [46]:
len(a)

7

In [40]:
odd_string= lambda x : x if len(x)%2!=0 else None

In [47]:
odd_string(a)

['apple', 'banana', 'cherry', 'date', 'fig', 'grape', 'xyz']

In [49]:
list(map(odd_string,a))

['apple', None, None, None, 'fig', 'grape', 'xyz']

In [50]:
list(filter(odd_string,a))

['apple', 'fig', 'grape', 'xyz']

In [38]:
def even_nuber(l):
  result=[]
  for i in l:
    if i%2==0:
      result.append(i)
  return result

In [39]:
even_nuber(l)

[2, 4, 6, 8, 10]

In [77]:
numbers = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [81]:
### filter out prime number from the given list
def prime_number(a):
  if a>1:
    flag=0
    for i in range(2,int(a/2)+1):
      if a%i==0:
        flag=1
        break
      else:
        flag=0
  if flag==0:
    return a
  else :
    return None

In [82]:
list(filter(prime_number,numbers))

[11, 13, 17, 19]

In [75]:
prime_number(6)

Not a prime number

In [87]:
l2=[1,2,3,4,5,6,7]  ### 15 as sum-- 1+1+1,1,,,1+1+3....1+1+7,1+2+1,1+2+3

In [88]:
l3=[]
l1=[]
l12=[]
l32=[]
for i in l2: ## 1
  for j in l2:### [1,2,3,4,5,6,7] - #j=1
    for k in l2: ### [1,2,3,4,5,6,7]  - k =1
      if i+j+k==15:
        print(i,j,k)

1 7 7
2 6 7
2 7 6
3 5 7
3 6 6
3 7 5
4 4 7
4 5 6
4 6 5
4 7 4
5 3 7
5 4 6
5 5 5
5 6 4
5 7 3
6 2 7
6 3 6
6 4 5
6 5 4
6 6 3
6 7 2
7 1 7
7 2 6
7 3 5
7 4 4
7 5 3
7 6 2
7 7 1

In [68]:
l3

[[(1, 7, 7),
  (2, 6, 7),
  (2, 7, 6),
  (3, 5, 7),
  (3, 6, 6),
  (3, 7, 5),
  (4, 4, 7),
  (4, 5, 6),
  (4, 6, 5),
  (4, 7, 4),
  (5, 3, 7),
  (5, 4, 6),
  (5, 5, 5),
  (5, 6, 4),
  (5, 7, 3),
  (6, 2, 7),
  (6, 3, 6),
  (6, 4, 5),
  (6, 5, 4),
  (6, 6, 3),
  (6, 7, 2),
  (7, 1, 7),
  (7, 2, 6),
  (7, 3, 5),
  (7, 4, 4),
  (7, 5, 3),
  (7, 6, 2),
  (7, 7, 1)]]

In [83]:
## ZIP
L1=[1,2,3,4,5]
l2=[10,20,30,40,50]

In [85]:
list(zip(L1,l2))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [1]:
zipped_list = [(1, 'a'), (2, 'b'), (3, 'c')]

In [5]:
list1,list2=zip(*zipped_list)

In [6]:
list1

(1, 2, 3)

In [7]:
list2

('a', 'b', 'c')

In [8]:
### recursive of function

In [9]:
def sums(a): ### a=5
    if a>=1: 
        return a + sums(a-1)
    else:
        return 0

In [10]:
result= sums(5)

In [11]:
print(result)

15

In [12]:
 ### find the factorical using recursive function
def factorial(a): ### a=5
   if a==0:
     return 1
   else :
     return a*factorial(a-1)

In [13]:
result= factorial(5)

In [14]:
print(result)

120

In [19]:
## find the sum of all element present in the list using recursive function
l2=[1,2,3,4,5]

def sums(l):
  if not l:
    return 0
  
  else :
    return l[0]+sums(l[1:]) ## []

In [20]:
sums(l2)

15

In [21]:
l2

[1, 2, 3, 4, 5]

In [22]:
l2[0]

1

In [23]:
l2[1:]

[2, 3, 4, 5]

In [24]:
l3=l2[1:]

In [25]:
l3

[2, 3, 4, 5]

In [26]:
l3[0]

2

In [27]:
l3[1:]

[3, 4, 5]